@tailwind base;
@tailwind components;
@tailwind utilities;

/* Özel Scrollbar Stilleri */
* {
  scrollbar-width: thin;
  scrollbar-color: #374151 #000000;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 20px;
}
